html {
   height: 100%
}

body {
   font-family: 'Space Mono', monospace;
   padding: 1em;
   background-color: #575655;
   /* background: linear-gradient(180deg, #575655 0%, #30302f 100%); */
   display: flex;
   justify-content: space-around;
   color: #f9d339;
}

div {
   transition: height .25s;
   transition: width .25s;
}

#main-content {
   transition: height .4s;
   transition: width .4s;
}

#canvas-section {
   transition: height .4s;
   transition: width .4s;
}

#create-project-form-section {
   transition: height .4s;
   transition: width .4s;
}

#tileset-section {
   transition: height .4s;
   transition: width .4s;
}

#canvas-wrapper {
   transition: width .4s;
   transition: height .4s;
   overflow: auto;
}

#tileset-container {
   transition: width .4s;
   transition: height .4s;
   margin-left: 15px;
   overflow: auto;
}

.flex-container {
   display: flex;
}

.flex-container>div {
   padding: 10px;
}

.flex-container>div>label {
   margin: auto;
}

.flex-container>div>select {
   margin: auto;
}

.grid-container {
   display: grid;
   width: 100%;
   gap: 16px 16px;
}

.layer-def-section {
   /* border-bottom: 1px solid #ddd; */
   padding-bottom: 0px;
}

.card {
   background: #202020;
   box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
   width: 100%;
   padding-bottom: 16px;
   border-radius: 6px;
}

.card header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   border-bottom: 1px solid #ddd;
   margin-bottom: 1em;
   padding: 16px;
}

.tile-canvas {
   border: 3px solid transparent;
}

.tile-canvas:hover {
   transform: scale(1.1);
}

.main-console {
   width: 100%;
   display: flex;
   padding: 20px;
}

/* The Modal (background) */
.modal {
   display: none;
   /* Hidden by default */
   position: fixed;
   /* Stay in place */
   z-index: 1;
   /* Sit on top */
   padding-top: 100px;
   /* Location of the box */
   left: 0;
   top: 0;
   width: 100%;
   /* Full width */
   height: 100%;
   /* Full height */
   overflow: auto;
   /* Enable scroll if needed */
   background-color: rgb(0, 0, 0);
   /* Fallback color */
   background-color: rgba(0, 0, 0, 0.4);
   /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
   height: 800px;
   background-color: #333;
   margin: auto;
   padding: 20px;
   border: 1px solid #969da8;
   width: 600px;
}

/* The Close Button */
.close {
   float: right;
   font-size: 24px;
   font-weight: bold;
}

.tileset-aside {
   width: 25%;
   border: 1px solid #969da8;
   border-radius: 6px;
}

#map-header {
   margin-bottom: 0;
}

#tileset-header {
   margin-bottom: 0;
}

.canvas-container {
   width: 100%;
   height: 100%;
   border: 1px solid #969da8;
   border-radius: 6px;
}

.card_body {
   display: flex;
}

.console-partition {
   width: 2%;
   height: 100%;
}

#main-canvas {
   cursor: none;
   display: block;
   margin: auto;
   background: #f4f8f9;
}

input {
   border: 0;
   outline: 0;
   width: 100%;
   height: 35px;
   border-bottom: 4px solid #969da8;
   border-radius: 6px;
}

select {
   font-family: 'Space Mono', monospace;
   font-weight: bold;
   border: 0;
   outline: 0;
   background: #94969c;
   width: 95%;
   height: 42px;
   color: #fff;
   border-top: 4px solid transparent;
   border-bottom: 4px solid #696e77;
   border-radius: 6px;
}

fieldset {
   border-radius: 6px;
   margin-bottom: 10px;
   margin-top: 10px;
   padding: 30px;
}

.project-creation-panel {
   width: 90%;
   margin: auto;
}

.project-creation-tile-fieldset {
   margin: auto;
}

.form-button {
   width: 100%;
   height: 35px;
}

.primary-button {
   font-family: 'Space Mono', monospace;
   font-weight: bold;
   border: 0;
   background: #4e84fa;
   border-top: 4px solid transparent;
   border-bottom: 4px solid #3166c7;
   color: #fff;
   border-radius: 6px;
   outline: 0;
   cursor: pointer;
}

.primary-button:hover {
   background: #6092fd;
   transform: scale(1.05);
}

.secondary-button {
   font-family: 'Space Mono', monospace;
   font-weight: bold;
   border: 0;
   background: #f9d339;
   border-top: 4px solid transparent;
   border-bottom: 4px solid #f39646;
   color: #111;
   border-radius: 6px;
   outline: 0;
   cursor: pointer;
}

.secondary-button:hover {
   background: #fad644;
   transform: scale(1.05);
}

.push-pop-layer-button {
   background-color: transparent;
   color: #fad644;
   font-weight: bold;
}

.push-pop-layer-button:hover {
   transform: scale(1.1);
}

.exit-button {
   font-weight: bold;
   font-family: 'Space Mono', monospace;
   border: 0;
   background: #d43c3c;
   border-top: 4px solid transparent;
   border-bottom: 4px solid #b43434;
   color: #111;
   border-radius: 6px;
   outline: 0;
   cursor: pointer;
}

.exit-button:hover {
   background: #d44a4a;
   transform: scale(1.05);
}

.landing-button {
   width: 100px;
   height: 100px;
}

.landing-menu {
   margin: auto;
}

label {
   text-transform: uppercase;
   font-weight: bold;
   display: block;
}

.selected-tile {
   border: 3px solid #fad644;
}

.alert {
   padding-left: 20px;
   background-color: #f44336;
   color: white;
   border-radius: 6px;
   height: 75px;
   width: 90%;
   position: absolute;
   bottom: 10px;
}

/* width */
::-webkit-scrollbar {
   width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
   box-shadow: inset 0 0 5px grey;
   border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
   background: #969da8;
   border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
   background: #838a94;
}