html {
   height: 100%;
   margin: 0;
   padding: 0;
}

body {
   font-family: 'Space Mono', monospace;
   background-color: #575655;
   margin: 0;
   padding: 0;
   color: #f9d339;
}

* {
   box-sizing: border-box;
}

#main-content {
   width: 98vw;
   height: 92vh;
   margin: 1vh 1vw 1vh 1vw;
}

.main-header {
   height: 5%;
}

.main-header>img {
   margin-left: 8px;
}

.main-body {
   height: 95%;
}

#canvas-wrapper {
   height: 95%;
   overflow: auto;
   border-right: 1px solid #969da8;
   border-bottom: 1px solid #969da8;
   box-sizing: border-box;
}

#tileset-header {
   height: 5%;
}

#tileset-container {
   height: 95%;
   overflow: auto;
   border-right: 1px solid #969da8;
   border-left: 1px solid #969da8;
   border-bottom: 1px solid #969da8;
   box-sizing: border-box;
}

.flex-container {
   display: flex;
}

.grid-container {
   display: grid;
   width: 100%;
   gap: 16px 16px;
}

.layer-def-section {
   /* border-bottom: 1px solid #ddd; */
   padding-bottom: 0px;
}

.card {
   background: #202020;
   box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}

.card header {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.tile-canvas {
   border: 3px solid transparent;
}

.tile-canvas:hover {
   transform: scale(1.1);
}

.main-console {
   width: 100%;
   display: flex;
}

/* The Modal (background) */
.modal {
   display: none;
   /* Hidden by default */
   position: fixed;
   /* Stay in place */
   z-index: 1;
   /* Sit on top */
   padding-top: 50px;
   /* Location of the box */
   left: 0;
   top: 0;
   width: 100%;
   /* Full width */
   height: 100%;
   /* Full height */
   overflow: auto;
   /* Enable scroll if needed */
   background-color: rgb(0, 0, 0);
   /* Fallback color */
   background-color: rgba(0, 0, 0, 0.4);
   /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
   position: relative;
   height: 55vh;
   background-color: #333;
   margin: auto;
   border: 1px solid #969da8;
   width: 35vw;
}

/* The Close Button */
.close {
   position: absolute;
   top: 12px;
   right: 12px;
}

.tileset-aside {
   width: 20%;
}

#map-header {
   margin-bottom: 0;
   border-top: 1px solid #969da8;
   border-right: 1px solid #969da8;
   border-bottom: 1px solid #969da8;
   height: 5%;
}

#tileset-header {
   display: flex;
   border: 1px solid #969da8;
   margin-bottom: 0;
}

.tile-header-title {
   text-align: center;
   width: 34%;
   font-size: 20px;
}

.tile-header-spacer {
   width: 33%;
}

.tile-tool-container {
   display: flex;
   justify-content: right;
   width: 33%;
}

.tile-tool-container>button {
   margin-right: 8px;
}

.canvas-container {
   width: 80%;
   height: 100%;
}

.card-body {
   display: flex;
   width: 100%;
}

.console-partition {
   min-width: 12px;
   width: 1%;
   height: 100%;
}

#map-canvas {
   cursor: none;
   display: block;
   margin: auto;
   background: #f4f8f9;
}

input {
   border: 0;
   outline: 0;
   width: 100%;
   height: 35px;
   border-bottom: 4px solid #969da8;
}

select {
   font-family: 'Space Mono', monospace;
   font-weight: bold;
   border: 0;
   outline: 0;
   background: #94969c;
   width: 95%;
   height: 42px;
   color: #fff;
   border-top: 4px solid transparent;
   border-bottom: 4px solid #696e77;
}

fieldset {
   margin-bottom: 10px;
   margin-top: 10px;
   padding: 30px;
}

.project-creation-panel {
   padding-bottom: 16px;
   width: 90%;
   margin: auto;
}

.project-creation-tile-fieldset {
   margin: auto;
}

.form-button {
   width: 100%;
   height: 35px;
}

.primary-button {
   font-family: 'Space Mono', monospace;
   font-weight: bold;
   border: 0;
   background: #4e84fa;
   border-top: 4px solid transparent;
   border-bottom: 4px solid #3166c7;
   color: #fff;
   outline: 0;
   cursor: pointer;
}

.primary-button:hover {
   background: #6092fd;
   transform: scale(1.05);
}

.secondary-button {
   font-family: 'Space Mono', monospace;
   font-weight: bold;
   border: 0;
   background: #f9d339;
   border-top: 4px solid transparent;
   border-bottom: 4px solid #f39646;
   color: #111;
   outline: 0;
   cursor: pointer;
}

.secondary-button:hover {
   background: #fad644;
   transform: scale(1.05);
}

.push-pop-layer-button {
   background-color: transparent;
   color: #fad644;
   font-weight: bold;
}

.push-pop-layer-button:hover {
   transform: scale(1.1);
}

.map-tool-container {
   display: flex;
   width: 33%;
   justify-content: right;
}

.map-tool-container>button {
   margin-left: 8px;
}

#btn-map-settings {
   margin-right: 8px;
}

.map-header-title {
   font-size: 20px;
   width: 34%;
   text-align: center;
}

.map-header-spacer {
   width: 33%;
}

.exit-button {
   font-weight: bold;
   font-family: 'Space Mono', monospace;
   border: 0;
   background: #d43c3c;
   border-top: 4px solid transparent;
   border-bottom: 4px solid #b43434;
   color: #111;
   outline: 0;
   cursor: pointer;
}

.exit-button:hover {
   background: #d44a4a;
   transform: scale(1.05);
}

.landing-menu-card {
   height: 88vh;
   width: 92vw;
   margin: 6vh 4vw 6vh 4vw;
}

.landing-header {
   border-bottom: 1px solid #969da8;
   height: 30%;
}

.landing-body {
   height: 70%;
}

.landing-button {
   width: 100px;
   height: 100px;
}

.landing-menu {
   width: 80%;
   justify-content: space-between;
   margin: auto;
}

.landing-menu>div {
   padding: 10px;
}

.new-project-menu-card {
   display: none;
   height: 92vh;
   width: 92vw;
   margin: 4vh 4vw 4vh 4vw;
}

.new-project-menu-header {
   height: 12%;
   border-bottom: 1px solid #969da8;
}

.new-project-card-body {
   height: 88%;
}

#new-project-menu {
   margin: auto;
   width: 100%;
}

label {
   text-transform: uppercase;
   font-weight: bold;
   display: block;
}

.selected-tile {
   border: 3px solid #fad644;
}

.alert {
   padding-left: 20px;
   background-color: #f44336;
   color: white;
   height: 75px;
   width: 90%;
   position: absolute;
   bottom: 10px;
}

.settings-label-container {
   width: 25%;
   margin: auto;
}

.settings-form-input-container {
   width: 40%;
   margin: auto;
}

.modal-header {
   border-bottom: 1px solid #969da8;
   text-align: center;
}

.modal-header>h2 {
   text-decoration: underline;
}